:root{
    --primary-color: #476278;
    --secondary-color: #FDE059;
    --accent1-color: #E28112;
    --accent2-color: #E2DFDD;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif, arial;
    box-sizing: border-box;
}

body{
    max-width: 900px;
    margin: 20px;
}

h1 {
    color: #E28112;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: #E28112;
}

a{
    text-decoration: none;
    color: #476278;
}

.hero{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

.hero h1{
    position: absolute;
    top: 10%;
    left: 45%;
    padding: 10px 20px;
    background: rgba(179, 38, 104, 0.5);
    text-align: center;
}

.hero article{
    position: absolute;
    top: 30%;
    left: 7%;
    padding: 15px;
    background: rgba(38, 75, 179, 0.5);
    margin-top: 20px;
}

.hero article p{
    color: #E2DFDD;
}

.hero article img{
    float: right;
    width: 200px;
    height: auto;
}