:root{
    --primary-color: #476278;
    --secondary-color: #FDE059;
    --accent1-color: #E28112;
    --accent2-color: #E2DFDD;
}

body{
    max-width: 900px;
    font-family: "Poppins", serif, arial;
    margin: 20px;
}

h1 {
    color: #E28112;
    font-family: "Merriweather", arial, serif;
}

p {
    font-family: var(--text-font);
    color: #476278;
}

a{
    text-decoration: none;
}

.hero{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 10%;
    left: 45%;
    padding: 10px 20px;
    background: rgba(179, 38, 104, 0.5);
}

.hero article{
    position: absolute;
    top: 30%;
    left: 7%;
    padding: 15px;
    background: rgba(38, 75, 179, 0.5);
    margin-top: 20px;
}

.hero article p{
    color: #E2DFDD;
}

.hero article img{
    float: right;
    width: 200px;
    height: auto;
}